

section#homepage.homepage
  .container
    .row
      .col-lg-6.col-md-6.col-12.order-md-1.order-2.mb-5
        .data
          h1.title
            | Order Products 
            br
            |  Faster Easier
          p.description
            | Order your favorite foods at any time and we will deliver them right to where you are.
          a.button(href='#') Get Started
      .col-lg-6.col-md-6.col-12.order-md-2.order-1.mb-5.text-center
        img(src='assets/images/home-ilustration.svg')
section#about.about
  .container
    .row.align-items-center
      .col-lg-6.col-md-6.col-12.mb-5.text-center
        img(src='assets/images/about-ilustration.svg')
      .col-lg-6.col-md-6.col-12.mb-5.d-flex.align-items-center
        .data.ms-lg-5.ms-md-2.ms-0
          h2.title
            | Find Out A Little More 
            br
            |  About Us
          p.description
            | We are a company dedicated to the distribution of products by delivery
            | to your home or to the place where you are, with the best quality of delivery.
section#about.security
  .container
    .row.align-items-center
      .col-lg-6.col-md-6.col-12.order-md-1.order-2.mb-5.d-flex.align-items-center
        .data
          h2.title
            | Your Safety Is 
            br
            |  Important
          p.description
            | When your order reaches you, we have the health safety protocols,
            | so that you are protected from any disease. Watch the video of how the delivery is made.
      .col-lg-6.col-md-6.col-12.order-md-2.order-1.mb-5
        img(src='assets/images/security-ilustration.svg').text-center
section#services.services
  .contanier
    h2.section-title.text-center
      | Some Services We 
      br
      |  Offer
    .row.services-container.justify-content-center
      .col-lg-3.col-md-5.col-9.mb-4
        .data
          h3.subtitle Payment Done
          img(src='assets/images/services1-ilustration.svg').text-center
          p.description Pay with a Visa or PayPal card and without much ado.
          div
            a.button.button-link(href='#') Learn More
      .col-lg-3.col-md-5.col-9.mb-4
        .data
          h3.subtitle Find Your Product
          img(src='assets/images/services2-ilustration.svg').text-center
          p.description We offer sale of products through the Internet.
          div
            a.button.button-link(href='#') Learn More
      .col-lg-3.col-md-5.col-9.mb-4
        .data
          h3.subtitle Product Received
          img(src='assets/images/services3-ilustration.svg').text-center
          p.description In our app you can see the delay time of your order.
          div
            a.button.button-link(href='#') Learn More
section.app#services
  .container 
    .row 
      .col-12.col-lg-6.col-md-6.mb-5.text-center.d-flex.align-items-center.justify-content-center
        img(src='assets/images/app-ilustration.svg')
      .col-12.col-lg-6.col-md-6.mb-5.d-flex.align-items-center 
        .app-container
          .data.ms-lg-5.ms-md-5.ms-0
            h2.title
              | Watch Your Delivery 
              br
              |  At Any Time
            p.description
              | With our app you can view the route of your order, from our local headquarters to the
              | place where you are. Look for the app now!
            .buttons.d-flex.gap-3
              a.button.d-flex(href='#').align-items-center.gap-2.fw-bold
                i.bx.bxl-apple.icon.fs-3
                |  App Store
              a.button.button.d-flex(href='#').align-items-center.gap-2.fw-bold
                i.bx.bxl-play-store.icon.fs-3
                |  Google Play
section#contact.contact
  .container
    .row.contact-container.align-items-center
      .col-lg-6.col-md-6.col-12.mb-4
        .content-info
          h2.title
            | Contact Us From 
            br
            |  Here
          p.description
            | You can contact us from here, you can write to us,
            | call us or visit our service center, we will gladly assist you.
      .col-lg-4.col-md-6.col-12.mb-4
        ul.content
          li.address
            | Telephone: 
            span.information 999 - 888 - 777
          li.address
            | Email:  
            span.information delivery@email.com
          li.address
            | Location: 
            span.information Lima - Peru
      .col-lg-2.col-md-5.col-5.mb-4
        .content
          a.button(href='#') Contact Us