footer.footer
  .container
    .row.justify-content-between
      .col-lg-2.col-md-6.col-12.mb-3
        .footer-content
          a.logo(href='#') Delivery
          p.description
            | Order Products Faster 
            br
            |  Easier
      .col-lg-2.col-md-6.col-12.mb-3
        .footer-content
          h3.title Our Services
          ul.links
            li
              a.link(href='#') Pricing 
            li
              a.link(href='#') Discounts
            li
              a.link(href='#') Report a bug
            li
              a.link(href='#') Terms of Service
      .col-lg-2.col-md-6.col-12.mb-3
        .footer-content
          h3.title Our Company
          ul.links
            li
              a.link(href='#') Blog
            li
              a.link(href='#') Our mision
            li
              a.link(href='#') Get in touch
      .col-lg-2.col-md-6.col-12.mb-3
        .footer-content
          h3.title Community
          ul.links
            li
              a.link(href='#') Support
            li
              a.link(href='#') Questions
            li
              a.link(href='#') Customer help
      .col-lg-2.col-md-6.col-12.mb-3
        .footer-social.d-flex.gap-3
          a.social-link(href='#')
            i.bx.bxl-facebook-circle
          a.social-link(href='#')
            i.bx.bxl-twitter
          a.social-link(href='#')
            i.bx.bxl-instagram-alt
    p.copy-right &copy; Muhammed_Safwat. All right reserved