.header {
  padding: 20px 0;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header.sticky-header {
  position: fixed;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1098039216);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1098039216);
  padding: 8px 0;
}
.header .container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container a.logo {
  font-size: 18px;
  color: var(--title-color);
  font-weight: 600;
}
@media (min-width: 767px) {
  .header .container .menu ul.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .header .container .menu ul.list {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    top: -300px;
    position: fixed;
    background: var(--body-color);
    width: 84%;
    right: 8%;
    border-radius: 20px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1294117647);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1294117647);
    transition: all 0.5s;
  }
  .header .container .menu ul.list .change-thems {
    color: var(--title-color);
    position: absolute;
    right: 0;
    right: 30px;
    top: 22px;
  }
}
.header .container .menu li a {
  color: var(--title-color);
  font-weight: 600;
}
.header .container .grid {
  display: block;
  color: var(--title-color);
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
@media (min-width: 767px) {
  .header .container .grid {
    display: none;
  }
}
.header .container .order-button {
  display: none;
  padding: 0.5rem 1.5rem;
}
@media (min-width: 992px) {
  .header .container .order-button {
    display: block;
  }
}

.header .container .menu ul.list.show-menu {
  top: 85px;
}

.item.active {
  position: relative;
}

.item.active::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: var(--title-color);
  right: calc(50% - 2px);
  bottom: -9px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
}

a:hover {
  color: black;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100vw;
  overflow-x: hidden;
}

body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}

.dark-theme .footer {
  background-color: var(--container-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  max-width: 80%;
}

.change-thems {
  width: 28px;
  border: 2px solid var(--title-color);
  height: 15px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.change-thems .circle {
  width: 8px;
  background: var(--title-color);
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.change-thems .circle.dark {
  left: 15px;
}
.change-thems .circle.light {
  left: 2px;
}

section {
  padding: 80px 0;
}

.homepage.scroll {
  margin-top: 120px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #1A1A1A;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}

.main {
  margin-top: 120px;
}

section .container .data h1.title {
  line-height: 1.5;
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  section .container .data h1.title {
    font-size: 3rem;
  }
}
section .container .data h2.title {
  color: var(--title-color);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  section .container .data h2.title {
    font-size: 2rem;
    text-align: start;
  }
}

.security .description, .about .description, .app .description {
  max-width: 80%;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .security, .about, .app {
    text-align: center;
  }
  .security .description, .about .description, .app .description {
    max-width: 100%;
  }
}

.services .section-title {
  margin: 10px 0 80px 0;
  color: var(--title-color);
  font-weight: bold;
}
.services .services-container .data {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  background-color: var(--container-color);
  -webkit-box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
          box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  min-height: 400px;
}
.services .services-container .data .subtitle {
  font-weight: 600;
  color: var(--title-color);
  line-height: 1.5;
  font-size: 20px;
}
.services .services-container .data img {
  width: 135px;
  margin: 10px auto;
}
.services .services-container .data .button-link {
  font-weight: bold;
}

@media (max-width: 767px) {
  .app .data .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .app .data .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.app .data .buttons .button {
  width: 180px;
  text-align: center;
}

.contact .contact-container .content-info .title {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: 20px;
  font-weight: bold;
}
.contact .contact-container .content-info .description {
  max-width: 80%;
}
.contact .contact-container ul.content .address {
  font-size: 15px;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 10px;
}
.contact .contact-container ul.content .address span.information {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5019607843);
  z-index: 2222;
  top: 0;
}

.footer {
  background-color: var(--first-color-lighten);
  padding: 80px 0 30px;
}
.footer .footer-content .logo, .footer .footer-content .title {
  font-weight: 600;
  color: var(--title-color);
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .footer-content .description {
  font-size: 15px;
}
.footer .footer-content .links {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}
.footer .footer-content .links .link {
  color: var(--title-color);
  font-size: 15px;
}
.footer .footer-social .social-link {
  font-size: 24px;
  color: var(--title-color);
}
.footer .copy-right {
  margin-top: 6rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.scroll-up {
  position: fixed;
  background: var(--first-color);
  right: 1rem;
  bottom: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: 100;
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.scroll-up i {
  font-size: 1.25rem;
  color: var(--title-color);
}